{% extends 'base/index.html' %}
{% block title %}jumbe zilizotumwa{% endblock %}
{% load static %}

{% block page %}jumbe zilizotumwa{% endblock page %}
{% block slogan %}jumbe zilizotumwa{% endblock slogan %} 

{% block style %}
    <style>
        .hide-accept-form {
            display: none;
        }
        .hide-response-form {
            display: none;
        }
        .hide-add-form {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
<div class="page-header">
    <div class="page-title">

    </div>
    <div class="page-btn">
        <a href="{% url 'mjumbe-tuma-kwa-kata' %}" class="btn btn-added"><img src="{% static 'assets/img/icons/plus.svg' %}" alt="img" class="me-1">tuma kwa kata</a>
    </div>
    <div class="page-btn">
        <a href="{% url 'mjumbe-tuma-kwa-mtaa' %}" class="btn btn-added"><img src="{% static 'assets/img/icons/plus.svg' %}" alt="img" class="me-1">tuma kwa mtaa</a>
    </div>
    <div class="page-btn">
        <a href="{% url 'mjumbe-tuma-kwa-barozi' %}" class="btn btn-added"><img src="{% static 'assets/img/icons/plus.svg' %}" alt="img" class="me-1">tuma kwa ubarozi</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
    <div class="table-top">
    <div class="search-set">
    <div class="search-path">
    <a class="btn btn-filter" id="filter_search">
        <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
        <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
    </a>
    </div>
    <div class="search-input">
    <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
    </div>
        {% include 'partials/_messages.html' %}
    </div>
    <div class="wordset">'
    <ul>
    <li>
    <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
    </li>
    <li>
    <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
    </li>
    <li>
    <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static 'assets/img/icons/printer.svg' %}" alt="img"></a>
    </li>
    </ul>
    </div>
    </div>
    
    <div class="card mb-0" id="filter_inputs">
    <div class="card-body pb-0">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 d-flex justify-content-between">
            <div class="form-group">
                <select name="status" id="id_status" class="form-control">
                    <option value="arrived" class="form-control">arrived</option>
                </select>
                
            </div>
            <div class="form-group">
                <input type="date" id="id_date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="form-group">
                <input type="time" name="time" id="id_time" placeholder="Time" class="form-control">
            </div>

            <div class="form-group">
                <input name="note" id="id_note"  placeholder="Note" class="form-control">
            </div>
            <div class="form-group">
                <select name="terminal" id="id_terminal" class="form-control">
                    <option value="CAN - Guanzhou">CAN - Guanzhou</option>
                    <option value="HKG - HongKong">HKG - HongKong</option>
                    <option value="DAR - Dar es salaam">DAR - Dar es salaam</option>
                    <option value="DXB - Dubai">DXB - Dubai</option>
                    <option value="NBO - Nairobi">NBO - Nairobi</option>
                    <option value="SHJ - Sharjah">SHJ - Sharjah</option>
                    <option value="JNB - Johanesburg">JNB - Johanesburg</option>
                    <option value="MCT - Muscat">MCT - Muscat</option>
                    <option value="BOM - Mumbai">BOM - Mumbai</option>
                    <option value="ADD - Addis Ababa">ADD - Addis Ababa</option>
                </select>
                
            </div>
            <div class="update-btn ml-3">
                <button type="submit" id="arrived_btn" class="btn btn-danger add_arrived_status" >save</button>
            </div>
        </div>
    </div>
    </div>
    </div>
    
    <div class="table-responsive">
    <table class="table  datanew">
    <thead>
    <tr>
    <th>
    <label class="checkboxs">
    <input type="checkbox" id="select-all">
    <span class="checkmarks"></span>
    </label>
    </th>
    <th>Utu (utambulisho wa ujumbe)</th>
    <th>Nambari ya simu</th>
    <th>Status </th>
    <th>Tarehe</th>
    </tr>
    </thead>
    <tbody>
    {% for pc in jumbe %}
    <tr>
    <td>
    <label class="checkboxs">
    <input type="checkbox" name="awb_id[]" value="{{pc.id}}" id="arrived_status" class="arrived_status">
    <span class="checkmarks"></span>
    </label>
    </td>
    <td><a href="">{{pc.utambulisho_wa_ujumbe}}</a></td>
    <td>{{pc.nambari_ya_simu}}</td>
    {% if pc.is_delivered %}
    <td>Umepokelewa</td>
    {% else %}
    <td>Sent</td>
    {% endif %}
    <td>{{pc.date_created}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
    $('#arrived_btn').click(function(){
        if(confirm('Are you sure you want to load awb')){
            var id =[]
            $('#arrived_status:checked').each(function(i){
                id[i] = $(this).val()
            })
            if(id.length === 0){
                alert('please select item')
            }else {
                console.log(id)
                $.ajax({
                    type: 'POST',
                    url: '/sifex/arrived/',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        id,
                        'status': $('#id_status').val(),
                        'date': $('#id_date').val(),
                        'time': $('#id_time').val(),
                        'note': $('#id_note').val(),
                        'terminal': $('#id_terminal').val(),
                        
                    },
                    
                    success: function(res){
                        // console.log(res)
                        window.location = '/sifex/parcel_import/'
                    },
                    error: function(err){
                        console.log(err)
                    }
                });
            }
        }
    })
})
</script>
{% endblock %}